*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #606060FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  background-color: #D6ED17FF;
  width: 450px;
  height: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

h1{
  font-size: 3rem;
  margin: 10px 0;
  letter-spacing: 2.5px;
}

p{
  font-size: 1.2rem;
  margin: 2px;
  letter-spacing: 1px;
}

input{
  width: 400px;
  height: 30px;
  display: block;
  margin: 5px auto;
  border: 2px solid #606060FF;
  text-align: center;
}

.content{
  font-size: 1.8rem;
  font-weight: 400;
  height: 110px;
}

h6{
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#facts{
  letter-spacing: 0.5px;
  width: 90%;
  margin: 2px auto;
  height: 80px;
  word-wrap: break-word;
}

@media (max-width:450px) {
  .container{
    width: 350px;
    height: 300px;
  }
  input{
    width: 300px;
  }
}